body {
    margin: 0;
    padding: 0;
    font-family: "adriane", serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px 25px 50px;
}

.main-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu ul li a {
    display: block;
    padding: 10px 0;
    color: #2d3239; 
    letter-spacing: .6px;
    position: relative;
    margin-right: 50px;
    text-decoration: none;
}

/*

.main-menu ul li a::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 10px 0;
    color: red;
    font-weight: 400;
    letter-spacing: .6px;
    max-width: 0;
    overflow: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.main-menu ul li a:hover::before {
    max-width: 100%;
}

*/

.main-menu ul li a::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    display: block;
    height: 2px;
    width: 0;
    background-color: #2d3239;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.main-menu ul li a:hover::before {
    width: 100%;
}